.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.login-container {
  text-align: center;
  margin: auto;
  padding: 10% 0 5% 0;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.login-container p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 400px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #fff; 
}

.input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  background-color: #f9f9f9;
  color: #666;
  font-size: 1.2rem;
  pointer-events: none; 
}

.input-group input {
  flex: 1; 
  padding: 20px;
  border: none; 
  outline: none; 
  font-size: 1rem;
  border-radius: 0; 
}

.form-actions {
  margin-top: 10px;
  display: block;
  align-items: center;
}

.loginpage-login-btn {
  background-color: #6a6eff !important;
  color: white !important;
  border: none;
  width: 400px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: #575be6;
}

.forgot-password {
  font-size: 0.9rem;
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

.signup-link {
  font-size: 0.9rem;
  color: #6a6eff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Footer Styling */
.login-footer {
  background-color: #fff;
  padding: 40px 20px;
  border-top: 2px solid #e6e6e6;
}

.newsletter {
  text-align: center;
  margin: 20px 0;
}

.newsletter-input {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.newsletter-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 250px;
}

.subscribe-btn {
  background-color: #6a6eff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  height: 50px;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-column h4 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}

.footer-social i {
  font-size: 1.2rem;
  color: #666;
  margin-left: 10px;
  cursor: pointer;
}

.footer-social i:hover {
  color: #1d3bcf;
}
