body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.work-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 3rem;
    margin-bottom: 5rem; /* Add margin at the bottom */
    background-color:white;
}

.work-with-us{
    margin-top: 8%;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.auth-buttons .login {
    background-color: #7e3ff2;
    color: #fff;
    text-align: center;
    width: 100px;
}

.auth-buttons .login:hover {
    background-color: #6936d6;
    box-shadow: 0 2px 6px rgba(126, 63, 242, 0.3);
    
}

.auth-buttons .signup {
    background-color: #fff;
    color: #7e3ff2;
    border: 2px solid #7e3ff2;
    width: 120px;
}

.auth-buttons .signup:hover {
    background-color: #f4f0ff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #4a4a4a;
}

header p {
    font-size: 1rem;
    color: #666;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #333;
}

textarea {
    resize: none;
    height: 60px;
}

.service-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .service-dropdown:hover {
    border-color: #0056b3;
  }
  
  .service-dropdown:focus {
    border-color: #004085;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
  }
  


.work-with-us-btn{
    width: 100%;
    background-color: #6a6eff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.work-with-us-btn:hover {
    background-color: #575be6;
  }